Repository globalsign/mgo, pull requests merged in 2018-03, with the labels that each got.

#116 enable shrink the socket pool size
  cluster.go
  server.go
  session.go
  session_test.go
  socket.go
Labels: enhancement, needs stg test

#122 Ignore dial error in dbtest after stopping server.
  dbtest/dbserver.go
  dbtest/dbserver_test.go
Labels: enhancement

#121 Proposed fix for deadlock in globalsign/mgo#120
  cluster.go
  cluster_test.go
  session.go
Labels: bug, needs stg test
